<div class="d-md-flex h-md-100 align-items-center" style="overflow: hidden;">

    <!-- First Half -->
    <div class="col-md-6 p-0 bg-indigo h-md-100">
        <h2 class="text-white text-center pt-5" >Weather Info</h2>
        
        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class="logoarea pt-5 pb-5">
              <app-app-weather></app-app-weather>
            </div>
        </div>
    </div>

    <!-- Second Half -->
    <div class="col-md-6 p-0 bg-light h-md-100 loginarea">
        <h2 class="text-center pt-5 ">Stocks Info</h2>
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
           <app-app-stocks></app-app-stocks>
        </div>
    </div>
        
</div>
<!-- <app-nav-tabs></app-nav-tabs> -->